.Navbar {
  background-color: var(--Navbar);
  color: var(--Title);
  text-align: left;
  padding-left: 0.3rem;
  font-size: 2rem;
  height: 5rem;
  display: flex;
  align-items: center;
}
.TerminalContainer,
#archIcon,
#specs,
.documents2 {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
}
.FirstLine,
.SecondLine {
  font-weight: 400;
}
.TerminalContainer {
  width: 45rem;
  height: 35rem;
  padding: 1rem 0.3rem;
  border-radius: 0.5rem;
}
.neofetchContent {
  display: flex;
}
#archIcon,
#specs {
  font-size: 0.8rem;
}
.SecondLine {
  padding-top: 4rem;
}
