@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Source Code Pro", monospace;
}

:root {
  --Navbar: #191622;
  --Background: #252031;
  --SecondaryBackground: #241f2e;
  --Title: #4caf50;
  --ButtonHover: #00ff08;
  --Border: #1A1C20;
}
