@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap");
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Source Code Pro", monospace;
}

:root {
  --Navbar: #191622;
  --Background: #252031;
  --SecondaryBackground: #362b50;
  --Title: #4caf50;
  --Button: #ff7b00;
  --ButtonHover: #ff912a;
  --TableHeader: #87ceeb;
  --Border: #1A1C20;
}
