body {
  background-color: var(--Background);
}
.container,
.Navbar,
.secondAside,
.secondAside > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Navbar {
  background-color: var(--Navbar);
  color: var(--Title);
  font-size: 2rem;
  height: 5rem;
}
.TerminalContainer,
#archIcon,
#specs,
.documents2,
button {
  font-weight: 600;
}
.FirstLine,
.SecondLine {
  font-weight: 400;
}
.TerminalContainer,
.secondAside {
  width: 45rem;
  box-shadow: 0.5rem 0.5rem 4px rgba(0, 0, 0, 0.171);
  border-top: 2rem solid var(--Border);
}
.TerminalContainer,
.secondAside {
  height: 35rem;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 2rem 1rem;
}
.neofetchContent {
  display: flex;
}
#archIcon,
#specs {
  font-size: 0.8em;
}
.SecondLine {
  padding-top: 4rem;
}
.secondAside {
  background-color: var(--SecondaryBackground);
}
.secondAside,
.secondAside > div {
  flex-direction: column;
}
.secondAside h2 {
  color: white;
}
.secondAside h2,
button {
  font-family: "Roboto", sans-serif;
}
button {
  width: 10rem;
  height: 3rem;
  margin: 5rem 0rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--Title);
  cursor: pointer;
  font-size: 1.5rem;
}
.TerminalContainer,
button,
table,
th,
td {
  transition: 0.4s;
}
button:hover {
  background-color: var(--ButtonHover);
}
table,
th,
td {
  width: 40rem;
  height: 2rem;
  text-align: center;
  padding: 0.5rem;
}
th:first-child {
  border-radius: 0.5rem 0 0 0;
}
th:last-child {
  border-radius: 0 0.5rem 0 0;
}
td:first-child {
  border-radius: 0 0 0 0.5rem;
}
td:last-child {
  border-radius: 0 0 0.5rem 0;
}
.TerminalContainer {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    width: 0rem;
  }
  100% {
    opacity: 1;
    height: 35rem;
    width: 45rem;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    width: 0rem;
  }
  100% {
    opacity: 1;
    height: 35rem;
    width: 45rem;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    width: 0rem;
  }
  100% {
    opacity: 1;
    height: 35rem;
    width: 45rem;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    width: 0rem;
  }
  100% {
    opacity: 1;
    height: 35rem;
    width: 45rem;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
    width: 0rem;
  }
  100% {
    opacity: 1;
    height: 35rem;
    width: 45rem;
  }
}
@media screen and (max-width: 1600px) {
 .container {
    flex-direction: column;
  } 
}
@media screen and (max-width: 800px) {
  body{
    font-size: 75%;
  }
  .container {
    flex-direction: column;
  }
  .TerminalContainer,
  .secondAside {
    width: 95%;
    height: 30rem;
  }
}

@media screen and (max-width: 500px) {
  body{
    font-size: 65%;
  }
}

